.chart--container {
  height: 300px; /* Reduced height for smaller screens */
}

@media (min-width: 768px) {
  .chart--container {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .chart--container {
    height: 500px;
  }
}
